name: Sync WakaTime Metrics to Gist

on:
    schedule:
        - cron: '0 16 * * *' # 每天台北時間 00:00
    workflow_dispatch: # 支援手動觸發

jobs:
    update-gist:
        name: Sync WakaTime Metrics to Gist
        runs-on: ubuntu-latest
        steps:
            - uses: superman66/wakatime-sync@v1.0.0
              env:
                GH_TOKEN: ${{ secrets.GH_TOKEN }}
                GIST_ID: ${{ secrets.GIST_ID}}
                WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}